asgiref==3.11.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
blinker==1.9.0
cbor2==5.8.0
cffi==2.0.0
channels==4.3.2
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.5
customtkinter==5.2.2
daphne==4.2.1
darkdetect==0.8.0
Django==4.2.29
Flask==3.1.2
flask-cors==6.0.2
Flask-Mail==0.10.0
gunicorn==25.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
msgpack==1.1.2
numpy==2.4.3
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.2
pillow==12.1.1
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==26.0.0
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.12.0
Werkzeug==3.1.5
zope.interface==8.2
